@* @model ASP.Areas.HomeWork1.Models.OrderSearchArg *@
@using System.Data
@model DataSet

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@ViewBag.ds
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>OrderSearchArg</h4>
        <hr />
        <table border="1" width="600" cellpadding="6">
            <tr>
                <td style="width: 20%;">
                    訂單編號
                </td>
                <td style="width: 80%;" colspan="3">
                    <input type="text" id="OrderID" />
                </td>
            </tr>
            <tr>
                <td style="width: 20%;">
                    客戶名稱
                </td>
                <td style="width: 80%;" colspan="3">
                    <input type="text" id="CustomerName" />
                </td>
            </tr>
            <tr>
                <td style="width: 20%;">
                    負責員工
                </td>
                <td style="width: 80%;" colspan="3">
                    <select id="EmployeeName">
                        @foreach (DataRow row in Model.Tables[0].Rows)
                        {
                            <option id="@row["EmployeeID"]">
                                @row["FirstName"], @row["LastName"]
                            </option>
                        } 
                    </select>
                </td>
            </tr>
            <tr>
                <td style="width: 20%;">
                    出貨公司
                </td>
                <td style="width: 80%;"  colspan="3">
                    <select id="CompanyName">
                        @foreach (DataRow row in Model.Tables[1].Rows)
                        {
                            <option id="@row["CustomerID"]">
                                @row["CompanyName"]
                            </option>
                        } 
                    </select>
                </td>
            </tr>
            <tr>
                <td style="width: 20%;">
                    訂購日期
                </td>
                <td style="width: 30%;">
                    <input type="date" id="RequiredDate"/>
                </td>
                <td style="width: 20%;">
                    出貨日期
                </td>
                <td style="width: 30%;">
                    <input type="date" id="ShippedDate" />
                </td>
            </tr>
            <tr>
                <td style="width: 20%;">
                    需要日期
                </td>
                <td style="width: 80%;"  colspan="3">
                    <input type="date" id="OrderDate" />
                </td>
            </tr>
            <tr>
                <td style="width: 20%;">

                </td>
                <td style="width: 80%;"  colspan="3">
                    <input type="button" value="查詢" />
                    <input type="reset" value="清除" />
                    <input type="button" onclick="location.href" value="新增訂單" />
                </td>
            </tr>
        </table>
    </div>
}
<br>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <table border="1" width="600" cellpadding="6">
            <tr>
                <td>訂單編號</td>
                <td>客戶名稱</td>
                <td>需要日期</td>
                <td>出貨日期</td>
                <td>運費</td>
                <td></td>
                <td></td>
            </tr>
            @foreach (DataRow row in Model.Tables[2].Rows)
            {
                <tr>
                    <td style="width: 15%;">
                        @row["OrderID"]
                    </td>
                    <td style="width: 15%;">
                        @row["FirstName"], @row["LastName"]
                    </td>
                    <td style="width: 20%;">
                        @row["OrderDate"]
                    </td>
                    <td style="width: 20%;">
                        @row["ShippedDate"]
                    </td>
                    <td style="width: 10%;">
                        @row["Freight"]
                    </td>
                    <td style="width: 10%;">
                        <a href="http://localhost:57997/HomeWork1/Index/update/@row["OrderID"]">修改</a>
                    </td>
                    <td style="width: 10%;">
                        <a href="http://localhost:57997/HomeWork1/Index/delete/@row["OrderID"]">刪除</a>
                    </td>
                </tr>
            }

        </table>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
